# Template for secrets.enc.yaml
# Fill in values and encrypt with:
#   sops encrypt --gcp-kms projects/project-fe559f0f-d011-4af4-bf0/locations/global/keyRings/sops/cryptoKeys/sops-key \
#     secrets.yaml.template > secrets.enc.yaml

secrets:
  api:
    SUPABASE_PROD_KEY: ""
    ANTHROPIC_API_KEY: ""
    VOYAGE_AI_API_KEY: ""
    JINA_API_KEY: ""
    RUMIL_AUTH_PASSWORD: ""
    LANGFUSE_PUBLIC_KEY: ""  # from differential-prod project at https://us.cloud.langfuse.com
    LANGFUSE_SECRET_KEY: ""  # paired with LANGFUSE_PUBLIC_KEY
  frontend:
    AUTH_PASSWORD: ""  # same value as RUMIL_AUTH_PASSWORD above
