# Template for secrets.enc.yaml
# Fill in values and encrypt with:
#   sops encrypt --gcp-kms projects/varuna-400921/locations/global/keyRings/sops/cryptoKeys/sops-key \
#     secrets.yaml.template > secrets.enc.yaml

secrets:
  api:
    SUPABASE_PROD_KEY: ""
    ANTHROPIC_API_KEY: ""
    VOYAGE_AI_API_KEY: ""
    JINA_API_KEY: ""
